*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    animation: fondo 20s infinite linear ;
    transition: all 5s ease-out;
}
 @keyframes fondo {
    0%{background-color: lightblue;}
    50%{background-color: blue;}
    100%{background-color: lightblue;}
 }
.caja{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#resultado{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bienvenido{
    text-align: center;
    margin-bottom: 50px;

}
.date{
    border-radius: 20px;
    box-shadow: 0px 5px 5px black;
    margin: auto;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
    height: 50px;
}
.botton{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    width: 100px;
}
